{{#extend "layout"}}
{{#content "main"}}  
  <!-- hack to make tables look good -->
  <div class="prose dark:prose-invert !max-w-[920px] p-2 lg:m-2 prose-td:[&[align=right]]:text-right prose-td:[&[align=center]]:text-center prose-th:[&[align=right]]:text-right prose-th:[&[align=center]]:text-center">
    {{{html}}}    
  </div>
{{/content}}
{{/extend}}